################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentGateway/.vs/PaymentGateway/v15
/PaymentGateway/PaymentGateway/bin/Debug/netcoreapp2.1
/PaymentGateway/PaymentGateway/obj
/PaymentGateway/.vs/config
/PaymentGateway/PaymentGateway/PaymentGateway.csproj.user
/PaymentGateway/.vs/PaymentGateway/DesignTimeBuild
/PaymentGateway/PaymentGateway.BankAccess/obj
/PaymentGateway/PaymentGateway.BankAccess/bin/Debug/netcoreapp2.1
/PaymentGateway/PaymentGateway.Domain/obj
/PaymentGateway/PaymentGateway.Domain/bin/Debug/netcoreapp2.1
/PaymentGateway/Tests/PaymentGateway.Domain.UnitTest/obj
/PaymentGateway/Tests/PaymentGateway.Domain.UnitTest/bin/Debug/netcoreapp2.1
/PaymentGateway/PaymentGateway.DataStorage/obj
/PaymentGateway/PaymentGateway.DataStorage/bin/Debug/netcoreapp2.1
/PaymentGateway/PaymentGateway.Domain/PaymentGateway.Domain.csproj.user
