################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentGateway/.vs/PaymentGateway/v15
/PaymentGateway/PaymentGateway/bin/Debug/netcoreapp2.1
/PaymentGateway/PaymentGateway/obj
/PaymentGateway/.vs/config
/PaymentGateway/PaymentGateway/PaymentGateway.csproj.user
/PaymentGateway/.vs/PaymentGateway/DesignTimeBuild
